@import '../../assets/styles/abstract/variaveis';

h4 {
    font-weight: lighter;
    font-family: $font-page;
}

.groupAmount {
    margin-left: 50px;
    margin-top: 20px;

    .list-group-item {
        padding: 12px;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid $third-color;
        border-radius: 0 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin-bottom: 0;
        }
    }

    .selectItem {
        cursor: pointer;
    }
}