@import '../../assets/styles/abstract/variaveis';

.divAutor {

    margin-top: 70px;

}

.imgSocialMedia {
    width: 30px;
    height: 30px;
}

h3 {
    font-weight: lighter !important;
}

h4 {
    font-weight: bold;
}

.author {
    border-top: 1px solid black;
    padding-top: 20px;
}