@import '../../assets/styles/abstract/variaveis';


.info-inactive {
    border-left: 1px solid black;
    padding-left: 20px;
    font-weight: lighter;
    font-family: $font-page;

    strong {
        color: rgb(255, 0, 0);
    }
}

.createDiv {

    background-color: $gray-auxiliar;
    padding: 30px;

    input,
    select {
        background-color: $first-color !important;
    }

}

.selectDiv {

    margin-top: 50px;

    input,
    select {
        background-color: $first-color !important;
    }

}

.textCreateDiv {

    .ql-toolbar.ql-snow {
        background-color: $gray-auxiliar !important;
        padding: 18px !important;
        border-color: $gray-auxiliar !important;
        font-size: 14px !important;

    }

    .ql-editor {
        height: 600px;
        overflow: auto;
    }

}