@import '../../assets/styles/abstract/variaveis';

.bg-header {

    background-color: $first-color;

    button {

        background-color: $second-color !important;
    }

    .navbar-brand {
        font-family: $font-page;
        color: $font-color-light;
        font-weight: lighter;
        transition: 0.5s;

        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

}

.color-navbar {
    display: flex;
}

@media (max-width: 991px) {
    .color-navbar {
        background-color: rgb(0 0 0 / 22%);
        padding: 8px 12px 8px 12px;
        border-radius: 12px !important;
    }

}