@import '../../assets/styles/abstract/variaveis';

.bg-header {

    background-color: $first-color;

    button {

        background-color: $second-color !important;
    }

    .navbar-brand {
        font-family: $font-page;
        color: $font-color-light;
        font-weight: lighter;
        transition: 0.5s;

        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

}