//Default colors

$first-color: #161616;
$second-color: rgba(0, 0, 0, 0.42);
$third-color: #82A8AB;
$auxiliar-color: #404040;
$font-color-light: #c0bed3;
$font-white: #FFFFFF;
$font-color-dark: #000000;


//Measures
$global-font-size: 16px;
$font-page: 'Roboto', sans-serif;